<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="API_BASE_URL" value="https://shopmkdemo.mmm2007.net/api/" />
    <add key="OTP_TIMEOUT" value="600" />
    <add key="APP_NAME" value="Mikka Café" />
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>